/** @format */

.body-page {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  padding-top: 63px;
  padding-bottom: 48px;
}
.title {
  margin-top: 0;
  margin-bottom: 40px;
}
.logo {
  font-size: 80px;
  line-height: 94px;
  color: #4bcaff;
}
.accent-color {
  color: #000;
}
.navbar {
  background-color: #35444f;
}
.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.menu-item {
  border-left: 1px solid #fff;
  padding: 24px 30px 18px 30px;
}
.last-item {
  border-right: 1px solid #fff;
}
.menu-item:hover {
  background-color: #222f3a;
}
.menu-link {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.aside {
  width: 344px;
}
.aside-nav {
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.aside-menu {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
}
.aside-item {
  padding-left: 44px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.aside-item:hover {
  background-color: #dbdbdb;
  padding-left: 75px;
}
.aside-link {
  color: #35444f;
  font-size: 27px;
  line-height: 27px;
}
.main {
  width: 885px;
  margin-bottom: 51px;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 4px;
}
.wrap:hover img {
  transform: scale(1.2);
  transition: 1s;
}
.text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 34px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.footer {
  margin-bottom: 30px;
}
.nav-footer {
  background-color: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}
.footer-menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.footer-link {
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.footer-item :hover {
  color: #3181a6;
  border-bottom: 3px solid #3181a6;
  padding-bottom: 10px;
}
.footer-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
